<% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
  <table>
    <tr>
  <td><%= f.label :email %></td>
  <td><%= f.text_field :email %></td>
</tr>
<tr>
  <td><%= f.label :password %></td>
  <td><%= f.password_field :password %></td>
</tr>
<tr>
  <% if devise_mapping.rememberable? -%>
    <td><%= f.label :remember_me %></td>
    <td align="left"><%= f.check_box :remember_me %></td>
  <% end -%>
</tr>
<tr>

  <td colspan="2"><%= f.submit "Sign in" %></td>
</tr>
</table>
<% end -%>

<%= render :partial => "shared/devise_links" %>
