<% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f| -%>
  <%= f.error_messages %>

          <table border="0">
            <tr><th colspan="2">Login Credentials</th></tr>
            <tr>
              <td><strong><label for="email">*Email Address:</label></strong></td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td>
                <label for="current_password">
                  <strong>*Current Password</strong>
                  <small><i><center>(to confirm it's you!)</center></i></small>
                </label></td>
              <td><%= f.password_field :current_password %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><strong><label for="password">*New Password:</label></strong></td>
              <td><%= f.password_field :password %></td>
            </tr>
            <tr>
              <td><strong><label for="password_confirmation">*Confirm New Password:</label></strong></td>
              <td><%= f.password_field :password_confirmation %></td>
            </tr>
          </table>
        
            <br /> 
        
          <table border="0">
            <tr><th colspan="2">General Health</th></tr>
            <tr>
              <td><strong><label for="dob">*Date of Birth:</label></strong></td>
              <td><%= f.date_select :dob, {:start_year => 1920} %>
              </tr>
              <tr>
                <td><strong><label for="sex">*Sex:</label></strong></td>
                <td><%= f.radio_button :sex, "m" %> Male &nbsp;&nbsp;&nbsp;<%= f.radio_button :sex, "f" %> Female</td>
              </tr>
              <tr>
                <td><strong><label for="height">*Height:</label></strong></td>
                <td><%= f.text_field :height, {:size => 4} %> inches</td>
              </tr>
            </table>
          
            <br /> 

          
            <table border="0">
              <tr><th colspan="2">Functionality</th></tr>
              <tr>
                <td>Weight Logging</td>
                <td><i>Weight logging is enabled by default</i></td>
              </tr>
              <tr>
                <td>Steps Logging</td>
                <td><%= f.check_box :steps %></td>
              </tr>
            </table>
          

            <br /> 

          <table border="0">
            <tr><th colspan="2"><a href="http://withings.com">Withings</a> Wifi Scale</a></th></tr>
            <tr>
              <td><strong><label for="withings_userid">Userid</label></strong></td>
                <td><%= f.text_field :withings_userid, :onchange => "$('withings_link_check').onclick()" %></td>
            </tr>
            <tr>
              <td><strong><label for="withings_publickey">Publickey</label></strong></td>
              <td><%= f.text_field :withings_publickey, :onchange => "$('withings_link_check').onclick()" %></td>
            </tr>
            <tr>
              <td><strong>Status</strong><br />
                <center><small>
                <%= link_to_remote("Validate",
                                   {:url => {:controller => 'withings', :action => 'check_status'},
                  :loading => "document.getElementById('withings_status').innerHTML = '<img src=\"/images/loader.gif\" />';",
                  :with => 'serialize_fields()',
                  :update => "withings_status"},
                  { :id => 'withings_link_check' }) %>
                </center></small>
              </td>
              <td>
                <div id="withings_status" name="withings_status"></div>
              </td>
            </td>
            </tr>
            <tr>
              <td><%= f.label :withings_email_alerts, 'Email Alerts' %></td>
              <td><%= f.check_box :withings_email_alerts %></td>
          </table>
        
          <%= f.submit "Update", {:class => 'big-btn blue'} %>
<% end %>
