<div align="center"><img src="<%= @graph.to_s %>" /></div>
<br /><br />

<div id='main-colum'>

<table class='pricing-table'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Rec date</th>
      <th>Weight</th>
      <th>Avg Weight</th>
      <th>Body Fat %</th>
      <th>&nbsp;</th>
      <th>Avg. BMI</th>
      <th>Avg. RMR</th>
      <th>Avg. TDEE</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% form_for(@weight) do |f| %>
      <tr>
        <%= f.hidden_field :user_id, :value=>current_user.id %>
        <td class='colfirst'>&nbsp;</td>
        <td>&nbsp;</td>
        <!-- <td><%= f.date_select :rec_date %></td> -->
        <td><%= select :weight, :rec_date, date_menu_items(Date.today-31, Date.today+1), :selected=>Date.today.to_s %>
          <td><%= f.text_field :weight, :size=>6 %></td>
          <td>&nbsp;</td>
          <td><%= f.text_field :bodyfat, :size=>6 %></td>
          <td><%= f.submit 'Create', {:class => "sml-btn blue"} %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      <% end %>

      <% if @weights.size > 0 %>
        <% @weights.each do |weight| %>
          <% if weight.rec_type == RECTYPE['filler'] %>
            <tr style="background-color: lightgray;">
            <% else %>
              <tr>
              <% end %>

              <td><%= link_to '<img src="/images/mini-icons/error.png" />', weight, :confirm => 'Are you sure?', :method => :delete %></td>

              <% if weight.rec_type == RECTYPE['withings'] %>
                <td><img src="/images/homeWifi.png" alt="Withings Measurement" width=20 height=10 /></td>
              <% else %>
                <td>&nbsp;</td>
              <% end %>
              <td><%=h weight.rec_date %></td>
              <td><%=h weight.weight %></td>
              <td><%=h weight.avg_weight %></td>
              <td><%=h weight.bodyfat %></td>
              <td>&nbsp;</td>
              <td><%=h weight.bmi || 0 %></td>
              <td><%=h weight.rmr || 0 %></td>
              <td><%=h weight.tdee || 0 %></td>
              <td><%= link_to 'Edit', edit_weight_path(weight), {:class => "sml-btn blue"} %></td>
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan='9'>
              --- no weight records found ---
          </td></tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@weights) %>

  </div>
  <div id='sidebar'>

    <div id="hosting-plans">
      <!-- container START here -->
      <div class="container">
        <div class="plan">
          <div class="title">
            <h4>Import Data</h4>
          </div>

          <div class="content">
            <% form_for :dump, :url=>{:controller=>"weights", :action=>"csv_import"}, :html => { :multipart => true } do |f| -%>
              <div style="overflow:hidden;">
                <% if Withings.authorized?(current_user.withings_userid, current_user.withings_publickey) %>
                  <%= link_to 'Import All Withings Data', '/withings/import', {:class => "sml-btn blue"} %>
                <% end %>
              </div>
              <hr>
              <div style="overflow:hidden;">
                <label for="dump_file">CSV File</label><br />
                <%= f.file_field :file, {:size => 10} %><br />
                <%= submit_tag 'Submit', {:class => "sml-btn blue"} %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="container">
          <div class="plan">
            <div class="title">
              <h4>Export Data</h4>
            </div>
            <div class="content">
              <div style="overflow:hidden;">
                <%=h link_to 'CSV File', "#{weights_url}.csv", {:class => "sml-btn blue"} %>
              </div>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
