<fieldset>
  <legend>Log Weights</legend>

<table border="1" width="100%">
  <tr>
    <td width="100%" valign="top">
      <img src="<%= @graph.to_s %>" />
    </td>
  </tr>
  <tr>
    <td>
        <table border="1">
          <tr>
            <th>&nbsp;</th>
            <th>Rec date</th>
            <th>Weight</th>
            <th>Avg Weight</th>
            <th>Body Fat %</th>
            <th>&nbsp;</th>
            <th>Avg. BMI</th>
            <th>Avg. RMR</th>
            <th>Avg. TDEE</th>
          </tr>

          <tr>
            <% form_for(@weight) do |f| %>
              <%= f.hidden_field :person_id, :value=>current_user.id %>
              <td>&nbsp;</td>
              <!-- <td><%= f.date_select :rec_date %></td> -->
              <td><%= select :weight, :rec_date, date_menu_items(Date.today-31, Date.today+1), :selected=>Date.today.to_s %>
              <td><%= f.text_field :weight, :size=>6 %></td>
              <td>&nbsp;</td>
              <td><%= f.text_field :bodyfat, :size=>6 %></td>
              <td><%= f.submit 'Create' %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            <% end %>
          </tr>

          <% if @weights.size > 0 %>
            <% @weights.each do |weight| %>
              <tr>
                <td><%= link_to 'X', weight, :confirm => 'Are you sure?', :method => :delete %></td>
                <td><%=h weight.rec_date %></td>
                <td><%=h weight.weight %></td>
                <td><%=h weight.avg_weight %></td>
                <td><%=h weight.bodyfat %></td>
                <td>&nbsp;</td>
                <td><%=h weight.bmi || 0 %></td>
                <td><%=h weight.rmr || 0 %></td>
                <td><%=h weight.tdee || 0 %></td>
                <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan='9'>
            --- no weight records found ---
            </td></tr>
          <% end %>
        </table>
        <%= will_paginate(@weights) %>

        <br /><br />

        <% form_for :dump, :url=>{:controller=>"weights", :action=>"csv_import"}, :html => { :multipart => true } do |f| -%>
        <table>
          <tr>
            <td>
              <label for="dump_file">
                Select a CSV File :
              </label>
            </td>
            <td >
              <%= f.file_field :file -%>
            </td>
          </tr>
          <tr>
            <td colspan='2'>
              <%= submit_tag 'Submit' -%>
            </td>
          </tr>
        </table>
      <% end -%>
    </td>
    <td>
      <img src="<%= @threeMonth_graph.to_s %>" />
    </td>
  </tr>
</table>

</fieldset>
