<p>
  <b>Rec date:</b>
  <%=h @weight.rec_date %>
</p>

<p>
  <b>Weight:</b>
  <%=h @weight.weight %>
</p>
<p>
  <b>Body Fat:</b>
  <%=h @weight.bodyfat %>
</p>


<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
