<h1>Editing user_option</h1>

<% form_for(@user_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </p>
  <p>
    <%= f.label :withings_userid %><br />
    <%= f.text_field :withings_userid %>
  </p>
  <p>
    <%= f.label :withings_publickey %><br />
    <%= f.text_field :withings_publickey %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_option %> |
<%= link_to 'Back', user_options_path %>