<p>
  <b>User:</b>
  <%=h @user_option.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @user_option.name %>
</p>

<p>
  <b>Dob:</b>
  <%=h @user_option.dob %>
</p>

<p>
  <b>Height:</b>
  <%=h @user_option.height %>
</p>

<p>
  <b>Sex:</b>
  <%=h @user_option.sex %>
</p>

<p>
  <b>Withings userid:</b>
  <%=h @user_option.withings_userid %>
</p>

<p>
  <b>Withings publickey:</b>
  <%=h @user_option.withings_publickey %>
</p>


<%= link_to 'Edit', edit_user_option_path(@user_option) %> |
<%= link_to 'Back', user_options_path %>