
  <h1>Welcome Back!</h1>
  It has been <%= "#{@last_weighin_days} day".pluralize %> since your last weigh-in.

  <div id="user_summaries">
    <!-- container START here -->
    <div class="container">
      <div class="user_summary">
        <div class="title">
          <h4>Weight Today</h4>
        </div>
        <div class="content">
          <% if @current_diff == nil %>
            <i>Not enough data for trending</i>
          <% elsif @current_diff < 0 %>
              <div class="avg">
                <div class="inside">
                  <%= @current_weight.avg_weight %>
                </div>
              </div>
              <strong><%= @current_diff %></strong> 7-day decrease
            <% elsif @current_diff == 0 %>
              <div class="avg">
                <div class="inside">
                  0<br />
                  <span>maintaining</span>
                </div>
              </div>
              You have maintained your weight for the past week.
          <% else %>
              <div class="avg">
                <div class="inside">
                  <%= @current_weight.avg_weight %>
                </div>
              </div>
              You are gaining at a rate of <%= @current_diff %> over the
              last week.
          <% end %>
        </div>
      </div>

      <div class="user_summary">
        <div class="title">
          <h4>Steps</h4>
        </div>
        <div class="content">
          <% if @steps_7_days == nil or @steps_7_days == 0 %>
            <i>Not enough data for trending</i>
          <% else %>
            <div class="avg">
              <div class="inside">
                <%= @steps_7_days.round() %><br />
                <span>10,000 par</span>
              </div>
        </div>
        Walking is a fantastic way to lose weight and maintain a healthy lifestyle.  According to
        some doctors and nutritionists, setting a goal of 10,000 steps per day is ideal.
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <br /><br /><br />

    <% if @steps_months == nil || @steps_months.size == 0 %>
      <i>Not enough data for trending</i>
    <% else %>

      <table class='pricing-table'>
        <tr>
          <th>Year</th>
          <th>Month</th>
          <th>Total Steps</th>
          <th>Total Mod Steps</th>
          <th>Total Mod Min</th>
        </tr>
        <% @steps_months.each do |step| %>
          <tr align="right">
            <td><%= step['year'] %></td>
            <td><%= step['month'] %></td>
            <td><%= step['steps'] %></td>
            <td><%= step['mod_steps'] %></td>
            <td><%= step['mod_min'] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

