
<div align="left">
  <h1>Welcome Back!</h1>
  It has been <%= "#{@last_weighin_days} day".pluralize %> since your last weigh-in.

  <center>
  <table valign="top" border='0'>
    <tr>
      <td valign="top">
        <fieldset>
          <legend>Current Weight</legend>
          <center>
            <% if @current_diff == nil || @current_diff == 0 %>
              <i>Not enough data for trending</i>
            <% elsif @current_diff < 0 %>
              <font style="color: green;">
                <h1><%= @current_weight.avg_weight %></h1>
                <%= @current_diff %> decrease
              </font>
            <% else %>
              <font style="color: red;">
                <h1><%= @current_weight.avg_weight %></h1>
                <%= @current_diff %> increase
              </font>
            <% end %>
          </center>
        </fieldset>
      </td>
      <td valign="top">
        <fieldset>
          <legend>Steps 7 Days</legend>
          <center>
            <% if @steps_7_days == nil or @steps_7_days == 0 %>
              <i>Not enough data for trending</i>
            <% else %>
              <% if @steps_7_days >= 10000 %>
                <font style="color: green;"><h1><%= @steps_7_days %></h1></font>
              <% elsif @steps_7_days >= 5000 %>
                <font style="color: yellow;"><h1><%= @steps_7_days %></h1></font>
              <% else %>
                <font style="color: red;"><h1><%= @steps_7_days %></h1></font>
              <% end %>
              10,000 par
            <% end %>
          </center>
        </fieldset>
      </td>
      <td valign="top">
        <fieldset>
          <legend>Steps Per Month</legend>
          <% if @steps_months == nil || @steps_months.size == 0 %>
            <i>Not enough data for trending</i>
          <% else %>
          <table border='0'>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Total Steps</th>
              <th>Total Mod Steps</th>
              <th>Total Mod Min</th>
            </tr>
          <% @steps_months.each do |step| %>
            <tr align="right">
              <td><%= step['year'] %></td>
              <td><%= step['month'] %></td>
              <td><%= step['steps'] %></td>
              <td><%= step['mod_steps'] %></td>
              <td><%= step['mod_min'] %></td>
            </tr>
          <% end %>
        </table>
        <% end %>
        </fieldset>
      </td>
    </tr>
  </table>
</center>

</div>
