<% title "Log Steps" %>

<% form_for @step do |f| %>
  <%= f.hidden_field :person_id, :value=>@user.id %>
    <ul class="rounded">
      <li><%= select :step, :rec_date, date_menu_items(Date.today-31, Date.today+1), :size=>20, :selected=>(Date.today-1).to_s %></li>
      <li><%= f.text_field :steps,  :placeholder => 'Enter Total Steps Taken' %></li>
      <li><%= f.text_field :mod_steps, :placeholder => 'Enter Moderate Steps Taken' %></li>
      <li><%= f.text_field :mod_min, :placeholder => 'Enter Total Workout Time (min)' %></li>
      <li><%= link_to "Submit", nil, :class => "whiteButton submit" %></li>
    </ul>
  <% end %>

  <!--
<ul>
  <li class="arrow"><%= link_to "Steps Graph", '/steps/', :class => 'round' %></li>
</ul>
  -->
