<h1>Steps Data</h1>

<table border="0" width="100%">
  <tr valign="top">
    <td>
      <table border="1">
        <tr>
          <th>&nbsp;</th>
          <th>Rec date</th>
          <th>Steps</th>
          <th>Mod steps</th>
          <th>Mod min</th>
          <th>&nbsp;</th>
        </tr>

      <% form_for(@step) do |f| %>
        <tr>
          <%= f.hidden_field :person_id, :value => @user.id %>
          <td>&nbsp;</td>
          <td><%= select :step, :rec_date, date_menu_items(Date.today-31, Date.today+1), :selected=>Date.today.to_s %></td>
          <td><%= f.text_field :steps, :size=>5 %></td>
          <td><%= f.text_field :mod_steps, :size=>5 %></td>
          <td><%= f.text_field :mod_min, :size=>5%></td>
          <td><%= f.submit 'Create' %></td>
        </tr>
      <% end %>

        <% @steps.each do |step| %>
          <tr>
            <td><%= link_to 'X', step, :confirm => 'Are you sure?', :method => :delete %></td>
            <td nowrap="nowrap"><%= link_to h(step.rec_date), step %></td>
            <td><%=h step.steps %></td>
            <td><%=h step.mod_steps %></td>
            <td><%=h step.mod_min %></td>
            <td><%= link_to 'Edit', edit_step_path(step) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate(@steps) %>

    </td>
    <td>  
      <img src="/myPlot.png" />
    </td>
  </tr>
</table>

