<h1>Steps Data</h1>

<table border="1">
  <tr>
    <th>Rec date</th>
    <th>Steps</th>
    <th>Mod steps</th>
    <th>Mod minutes</th>
    <th>Person</th>
  </tr>

  <% @steps = @steps.sort_by { |step| step['rec_date'] }.reverse %>
  <% @steps.each do |step| %>
  <tr>
	  <td>
		  <%= link_to h(step.rec_date), step %>
	  </td>
    <td><%=h step.steps %></td>
    <td><%=h step.mod_steps %></td>
    <td><%=h step.mod_min %></td>
    <td><%=h step.person_id %></td>
    <!-- <td><%= link_to 'Show', step %></td> -->
    <td><%= link_to 'Edit', edit_step_path(step) %></td>
    <td><%= link_to 'Destroy', step, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New step', new_step_path %>

<br /><br />

<img src="/myPlot.png" />

