<h1>Steps Data</h1>

<table border="0" width="100%">
  <tr valign="top">
    <td>
      <% form_for(@step) do |f| %>
        <%= f.error_messages %>

        <%= f.hidden_field :person_id, :value => @user.id %>
        <p>
        <%= f.label :rec_date %>
        <%= select :step, :rec_date, date_menu_items(Date.today-31, Date.today+1), :selected=>Date.today.to_s %>
        </p>
        <p align="right">
        <%= f.label :steps %> <%= f.text_field :steps, :size=>5 %><br />
        <%= f.label :mod_steps %> <%= f.text_field :mod_steps, :size=>5 %><br />
        <%= f.label :mod_min %> <%= f.text_field :mod_min, :size=>5%>
        </p>
        <p>
        <%= f.submit 'Create' %>
        </p>
      <% end %>

      <table border="1">
        <tr>
          <th>&nbsp;</th>
          <th>Rec date</th>
          <th>Steps</th>
          <th>Mod steps</th>
          <th>Mod min</th>
          <th>Person</th>
          <th>&nbsp;</th>
        </tr>

        <% @steps.each do |step| %>
          <tr>
            <td><%= link_to 'X', step, :confirm => 'Are you sure?', :method => :delete %></td>
            <td nowrap="nowrap"><%= link_to h(step.rec_date), step %></td>
            <td><%=h step.steps %></td>
            <td><%=h step.mod_steps %></td>
            <td><%=h step.mod_min %></td>
            <td><%=h step.person_id %></td>
            <td><%= link_to 'Edit', edit_step_path(step) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate(@steps) %>

    </td>
    <td>  
      <img src="/myPlot.png" />
    </td>
  </tr>
</table>

