<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>MyHackerDiet.com</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/superfish.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/system_messages.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/fancybox/jquery.fancybox-1.3.1.css" type="text/css" />
    <!--[if IE]>
    <script src="/javascripts/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css">
    <![endif]-->
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="/javascripts/cufon-yui.js"></script>
    <script src="/javascripts/jquery.easing.js"></script>
    <script src="/javascripts/Harabara.js"></script>
    <script src="/javascripts/superfish.js"></script>
    <script src="/javascripts/css_browser_selector.js"></script>
    <script src="/javascripts/jquery.cycle.all.js"></script>
    <script src="/javascripts/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/tipsy.js"></script>
    <script src="/javascripts/bluz.js"></script>
  </head>
  <body id="sub-page">
    <!-- site-wrapper START here -->
    <div id="site-wrapper">
      <!-- header START here -->
      <header>
      <!-- container START here -->
      <div class="main_container">
        <!-- logo START here -->
        <div id="logo">
          <%= link_to '<img src="/images/logo2.png" alt="" />', root_url %>
        </div>
        <!-- logo END here -->
        <div id="login-holder">
          <% if current_user %>
            Signed in as: <%=h current_user.email %> <%=h link_to '(not you?)', destroy_session_path(current_user) %><br />
            Last Sign in: <%=h current_user.last_sign_in_at %>
          <% end %>
        </div>
        <!-- navigation START here -->
        <ul class="sf-menu">
          <% if current_user %>
            <li><%= link_to_colorbox "Edit Account", edit_user_registration_path %></li>
            <% if current_user.steps %>
              <li><%= link_to "Log Steps", {:controller => 'steps'} %></li>
            <% end %>
            <li><%= link_to "Log Weights", {:controller => 'weights'} %></li>
            <% if current_user.withings_userid && current_user.withings_publickey %>
              <li><%= link_to "Withings API Log", {:controller => 'withings_log'} %></li>
            <% end %>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
            <% if mobile_device? %>
              <li><%= link_to "Full Site", :mobile => 0 %></li>
            <% end %>
          <% else %>
            <li class="emph"><%= link_to_colorbox 'Create an Account', new_user_registration_path %></li>
            <li><%= link_to_colorbox 'Sign in', user_session_path %></li>
          <% end %>
        </ul>
        <!-- navigation END here -->
      </div>
    </div>
      <!-- container END here -->
      </header>
      <!-- header END here -->
      <!-- content START here -->
      <div id="content">
        <!-- container START here -->
        <div class="container">
            <% if flash[:notice] %>
              <center>
                <div class="success-box">
                  <%= "- #{flash[:notice]}" %>
                </div>
              </center>
            <% end %>
            <% if flash[:warn] %>
              <center>
                <div class="warning-box">
                  <%= "- #{flash[:warn]}" %>
                </div>
              </center>
            <% end %>
            <% if flash[:alert] %>
              <center>
                <div class="error-box">
                  <%= "- #{flash[:alert]}" %>
                </div>
              </center>
            <% end %>

            <!-- SYSTEM and USER MESSAGES -->
            <center>
              <% if current_user %>
                <%= system_messages_for(current_user) %>
                <%= system_messages %>
                <br />
              <% end %>
            </center>


            <%= yield %>
        </div>
        <!-- container END here -->
      </div>
      <!-- content END here -->
    </div>
    <!-- site-wrapper END here -->
    <!-- footer START here -->
    <footer>
    <!-- bottom-footer START here -->
    <div id="bottom-footer">
      <!-- container START here -->
      <div class="container">
        <p class="alignleft">&copy; 2010 All Rights Reserved.</p>
        <ul id="social-list" class="alignright">
          <li><a href="mailto:jon@digital-drip.com" rel="tipsy" title="Email Me"><img src="/images/social-icons/email.png" alt="" /></a></li>
          <li><a href="http://twitter.com/jongaudette" rel="tipsy" title="Twitter"><img src="/images/social-icons/twitter.png" alt="" /></a></li>
          <li><a href="http://www.linkedin.com/in/jongaudette" rel="tipsy" title="Linked In"><img src="/images/social-icons/linkedin.png" alt="" /></a></li>
        </ul>
      </div>
      <!-- container END here -->
    </div>
    <!-- bottom-footer END here -->
    </footer>
    <script type="text/javascripts"> Cufon.now(); </script>
    <script src="/javascripts/init_form.js"></script>
  </body>
</html>
