<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>MyHackerDiet.com | Login</title>
    <%=stylesheet_link_tag "redfire" %>

    <%= javascript_include_tag 'swfobject' %>
  </head>

  <body>
    <div id="layout">
      <div id="header">
        <h1 id="logo"><a href="#" title="#">MyHackerDiet<span>.com</span></a></h1>
        <hr class="noscreen" />

        <div id="navigation">
          <ul>
            <li><%= link_to "Home", root_url %></li>
            <% if @user %>
              <li><%= link_to "Edit Account", edit_person_path('account') %></li>
              <li><%= link_to "Log Steps", '/steps/' %></li>
              <li><%= link_to "Log Weights", '/weights/' %></li>
              <li><%= link_to "Logout", @application_session, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_session_path %></li>
              <li><%= link_to "Register", new_person_path %></li>
            <% end %>
          </ul>
          <hr class="noscreen" />
        </div>
      </div>
      <% if flash[:notice] %>
        <center>
          <div id="message">
            <%= "- #{flash[:notice]}" %>
          </div>
        </center>
      <% end %>
      <% if flash[:warn] %>
        <center>
          <div id="message">
            <%= "- #{flash[:warn]}" %>
          </div>
        </center>
      <% end %>
    </div>
    <div align="right" width="97%">
      <% if @user != nil %>
        <%= @user.name %>
      <% end %>
    </div>


    <div id="main">
      <%= yield %>
    </div>

    <div id="footer">
      <div id="footer-inside">
        <p id="copyright">&copy; 2009 - <a href="/">Jon Gaudette</a> - Original concept and diet by <a href="http://www.fourmilab.ch/hackdiet/">John Walker</a>.  Website iteration original concept by Matt of <a href="http://physicsdiet.com/">PhysicsDiet.com</a></p>
        <p id="dont-delete-this">Design by <a href="http://www.davidkohout.cz">David Kohout</a> | Our tip: <a href="http://www.goodmood.cz" title="Absinthe, Becherovka, Slivovitz store">Absinthe Store</a></p>
    </div><div style="clear: both;"></div></div>
  </div>
  
  <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-8541470-3");
          pageTracker._trackPageview();
        } catch(err) {}</script>

</body>
</html>

