<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Steps: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

  <!-- [if IE]>
  <script language="javascript" type="text/javascript" src="/javascript/excanvas.js">
  </script>
  <![endif] -->
  <script language="javascript" type="text/javascript" src="/javascripts/prototype.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/ProtoChart.js"></script>
</head>
<body>
  <%=link_to 'Home', '/' %> -
  <%=link_to '&lt;Steps&gt;', '/steps/' %> -
  <%=link_to 'Weights', '/weights/' %>

  <br />
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
</body>
</html>
